#main-form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

#file-input{
   display: none;
}

.btn{
    width: 200px;
}

.flex-container > button {
    position: absolute;
    left: 68px;
    top: 50px;
}